

/* Styling the navigation menu */
.navbar {
      top:5px;
      height:80px;
      width:100%;
      background-color: black;
      overflow:clip ;
      position: fixed;
      display:block;
      border: 3px solid lightcoral;
      z-index: 100;
      display:inline-block;
}

/* Navigation bar  links */
.navbar a {
    float: left;
    padding: 20px;
    margin:10px;
    color: white;
    text-decoration: none;
    width: 10%; 
    text-align: center; 
    text-transform: uppercase;
    font-family: Copperplate, "Copperplate Gothic Light", fantasy; 
    font-size: 70%;
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px; 
} 


/* Adding a background color on mouse-over */
.navbar a:hover {
    color:gray;
}

/* Adding padding to the body to avoid nav bar overlap*//* Ensure the remaining content doesn't hide behind the #navbar on scroll: */

body {
    position:absolute;
    z-index: 1;
    top: 100px;
    height:100vh;
}
/* This section is dealing with the media queries to ensure the site is responsive to use on several devices/*

/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
@media screen and (max-width: 500px) {
  .navbar a {
    display: block;
    text-align: left; 
	font-size: 8px;
    font-style: normal; 
}
  
  
.navbar {
    display: flex;
    text-align: left; 
	font-size: 3px;
    font-style: normal; 
  }



.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 20%;
}
.gallery > div {
    flex-basis: 50vw;
    flex-shrink: 0;
    flex-grow: 0;
}
.gallery img {
    Padding-top: 20px;
    border:30px solid black;
    width:150px;
    height:150px;
}

.landing-page {
    position:absolute;
    width: 50%;
	  float:left;	
}


#circle-img{
        border-radius:50%;
}


p {

    font-size: x-small;
}
}

.gallery h1 {
    position:absolute;
	margin:10%;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    justify-content: center;
}

.gallery p {
    position:absolute;
}

h1 {
    justify-content: center;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    text-transform: capitalize;
    text-align:center;

}

h5 {
    text-align:center;
}
.pb {
    display:block;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    color:black;
    justify-content: flex-end;
    
}

/*styling the landing text area I'll be using on each page*/
.welcome-landing {
    position: relative;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}
p {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    text-transform:initial;
    color: #030303;
    margin: 2px 1em 0 20%;
    justify-content: center;
   }
   /* the footer contains all of the social media links and will be on each html page*/
footer {
    height: 5%;
    display:flex;
    justify-content: space-between;
}
.social-networks {
    text-align:center;
    position:relative;
    display:block;
    margin:1%;
    padding:5%;
  }
  .social-networks > li {
      display:inline-block;
  }
.social-networks  i {
    font-size:160%; 
    margin:1%;
    padding:5%;
    color: #fffdfd;
    bottom:20px;
 }


 ul.social-networks {
position:absolute;

 }
/*  hover effect for social sites- gray on hover common on all pages  */
.fa:hover {
    color:gray;
}
/* Setting a specific color for each social media site in the footer- common on all pages*/
/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
    font-size: 70%;
    height:5%;
    text-transform: uppercase;
    text-align: center;
}
.fa-facebook:hover {
    color:gray;
}
.fa-linkedin {
    background: #55ACEE;
    color: white;
    font-size: 70%;
    height:5%;
    text-transform: uppercase;
    text-align: center;
}
.fa-linkedin:hover {
    color:gray;
}
.fa-instagram-square {
    background:#bc2a8d;
    color: white;
    font-size: 70%;
    height:5%;
    text-transform: uppercase;
    text-align: center;
    
}
.fa-instagram-square:hover {
    color:gray;
}
.fa-github {
    background: #030303;
    color: white;
    font-size: 70%;
    height:5%;
    text-transform: uppercase;
    text-align: center;
    
}
.fa-github:hover {
    color:gray;
}
/* adding a container for the mail, call and download buttons to sit below Nav Bar but above contact form on Contact Page*/
.flex-container {
    max-width: 80%;
    max-height: 200px;
    margin: 20px; 
    display: flex;
    text-align:center;
    align-items: center;
    justify-content: space-around; 
}
.flex-container:hover {
  font-size: 18px;
}

/* Styling elements in contact form */
input,  select, textarea {
    width: 40%; 
    height: 50px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    padding:5px;
    box-sizing: border-box; 
    display: flex;
    margin: 25px 50px 20px 30%;
    font-size: large;
    text-align:left;
}
h2, h3 {
    position:relative;
    font-family: 'Courier New', Courier, monospace;
    display: block;
    font-size: large;
    color:black;
    text-align:center;
    accent-color:lightcoral;
    text-transform: capitalize;
}
label {
    display:none;
}
#contactbutton {
    background-color: #000000;
    color: white;
    padding: 12px 20px;
    cursor: pointer;
    border: 3px solid lightcoral;
    justify-content: center;
    display: flex;
}
#contactbutton:hover {
  background-color: gray;
}
h2.container  div{
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    text-transform:uppercase;
    color: #030303;
    padding: 20%;
    margin: 20%;
}
/* the buttons for downloading CV, Call or direct email*/
.download {
    background-color: black;
    border-radius: 50%;
    color: white;
    text-decoration: none;
    width:100px;
    height:100px;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid lightcoral;
}
.mail {
    background-color: black; 
    color: white;
    text-decoration: none;
    width:100px;
    height:100px;
    border-radius: 50%;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid lightcoral;
}
.phone {
    background-color: black; 
    color: white;
    text-decoration: none;
    width:100px;
    height:100px;
    border-radius: 50%;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border: 3px solid lightcoral;
}
.mail:hover {
    color:gray;
}
.download:hover {
    color:gray;
}
.phone:hover {
color:gray;
}

/* Styling the Homepage*/
#professional-summary-section {
    position: relative;
    display:inline-block;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    text-align: center;
    accent-color:lightcoral;
    justify-items: center;
    color:black;
    margin: 1em 1em 0 20%;
    
}
#personal-gallery {
    width: 100%;
    display: flex; 
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    color:black;
    position:relative;
}
/*container for images on homepage*/
.welcome-landing img {
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
    float:right;
    align-items: center;
}
.welcome-landing img:hover  {
    opacity:0.7;
}
#circle-img {
    border:15px solid #000;
    background-color: lightcoral;
    position:relative;
    max-width: 350px;
    max-height: 350px;
    border-radius:50%;
    float:right;
    justify-content: center;
    display:flex;
    align-items: center;
}
.fa-solid  {
    position:relative;
   
    margin:1%;
    border:2px;
}
/* CSS for the Carousel - this is not my code it is taken from https://www.quackit.com/html/html_editors/scratchpad/?example=/css/grid/examples/photo_gallery_flexible_width_span_3_columns_3_rows*/
#gallery {
    display:flex;
    clear:both;
    line-height: 0;
    column-count:2;
    column-gap:0px;
    padding:5%;
}
.grid { 
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2px;
    align-items: start;
    justify-items: center;
}
.grid img {
    max-width: 100%;
}
.grid img:nth-child(2) {
    grid-column: span 3;
    grid-row: span 3;
  }
.grid:hover {
    resize: horizontal;
    opacity:0.7;
}
#gallery > img {
    width: 50%;
}
#thank-you{
    width:100%;
    display:flex;
    background-color: lightcoral;
    font-family: 'Courier New', Courier, monospace;
}