

/* Styling the navigation menu */
.navbar {

  top:5px;
  height:80px;
  width:100%;
  background-color: black;
  overflow:clip ;
  position: fixed;
  display:block;
  border: 3px solid lightcoral;
  z-index: 100;
  display:inline-block;
}

/* Navigation bar  links */
.navbar a {
  float: left;
  padding: 20px;
  margin:10px;
  color: white;
  text-decoration: none;
  width: 10%; 
  text-align: center; 
  text-transform: uppercase;
  font-family: Copperplate, "Copperplate Gothic Light", fantasy; 
  font-size: 70%;
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  line-height: 26.4px; 

} 


/* Adding a background color on mouse-over */
.navbar a:hover {
 color:gray;
}

/* Adding padding to the body to avoid nav bar overlap*//* Ensure the remaining content doesn't hide behind the #navbar on scroll: */

body {
    position: absolute;
    z-index: 1;
    top: 100px;


}


/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
@media screen and (max-width: 500px) {
  .navbar a {
    
    display: block;
    text-align: left; 
	  font-size: 5px;
    font-style: normal; 
}
  
  
  .navbar {
    display: block;
    text-align: left; 
	  font-size: 2px;
    font-style: normal; 

  }
#bm {
  display: block;
  text-align: left; 

}


.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 20%;
	
}
.gallery > div {
  flex-basis: 50vw;
  flex-shrink: 0;
  flex-grow: 0;
}
.gallery img {
Padding-top: 20px;
border:30px solid black;
width:150px;
height:150px;
    
}

.landingpage {
	position:absolute;
    width: 50%;
	float:right;
	
}
}

.gallery h1 {
	position:absolute;
	margin:10%;
  font-family: 'Courier New', Courier, monospace;
  font-size: x-large;
justify-content: center;
	
	
	
}

.gallery p {
	
	position:absolute;
  
    
}

h1{
margin-left:30%;
  justify-content: center;
  font-size: x-large;
  justify-content: center;
  
}

 p h1 {

	padding-left:20%;
  Padding-top:150px;
  justify-content: center;
   
}

/*styling the landing text area I'll be using on each page*/

.welcomelanding {

  position: relative;
  padding-left: 20%;
  margin: 10%;
  text-transform: uppercase;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;

  
}


#photo1{

width: 100%;
height: 500px;
background-image: url('../images/JesssieandBernadette.jpg');
background-repeat: no-repeat;
animation: mymove 5s infinite;


}

p {
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
    text-transform:uppercase;
     color: #030303;
     padding: 20px;
     top:500px;
   
   }
   
footer {
  height: 5%;
  

  }
  
  .social-networks {
  
     text-align:center;
  
  }
  
  
  .social-networks > li {
  
     display:inline;
   
   }
  
   .social-networks  i {
  font-size:160%; 
  padding:3%;
  color: #fffdfd;
  bottom:20px;
   }


/*  hover effect for social sites- gray on hover common on all pages  */
.fa:hover {
 color:gray;
}

/* Setting a specific color for each social media site in the footer- common on all pages*/

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
  font-size: 70%;
  width:10%;
  height:5%;
  text-transform: uppercase;
  text-align: center;
  display: flex;
}

.fa-facebook:hover {
color:gray;

}

.fa-linkedin {
  background: #55ACEE;
  color: white;
  font-size: 70%;
  width:10%;
  height:5%;
  text-transform: uppercase;
  text-align: center;
  
  
}

.fa-linkedin:hover {
  color:gray;
  
  }

.fa-instagram-square {
  background:#bc2a8d;
  color: white;
  font-size: 70%;
  width:10%;
  height:5%;
  text-transform: uppercase;
  text-align: center;
   display: flex;
  
}

.fa-instagram-square:hover {
  color:gray;
  
  }
.fa-github {
  background: #030303;
  color: white;
  font-size: 70%;
  width:10%;
  height:5%;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  
}
.fa-github:hover {
  color:gray;
  
  }

/* adding a container for the mail, call and download buttons to sit below Nav Bar but above contact form on Contact Page*/

.flex-container {
width: 80%;
height: 200px;
margin: 20px auto; 
padding-left: 20%;
text-align:left;
display: flex;
justify-content: space-around;
text-align:center;


}





.flex-container:hover {
  background-color: gray;
  font-size: 18px;
 
background-image: url('../images/coarlbg.jpg');
  
}




/* Styling elements in contact form */
input,  select, textarea {
  width: 40%; 
  height: 50px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-shadow: lightcoral;
  box-sizing: border-box; 
  resize: vertical;
  display: flex;
  margin:25px;
    margin-left:30%;
    font-size: x-large;
    justify-content: left;
    

}


h2{

display: flex;
margin:25px;
  margin-left:30%;
  font-size: x-large;
  justify-content: left;
  

}
 #contactbutton {
  background-color: #000000;
  color: white;
  padding: 12px 20px;
  cursor: pointer;
  border: 3px solid lightcoral;
  justify-content: center;
  display: flex;
}

#contactbutton:hover {
  background-color: gray;
}





h2.container  div{

  font-family: 'Courier New', Courier, monospace;
  font-size: x-large;
 text-transform:uppercase;
  color: #030303;
  padding: 20px;
  padding: 20%;
  margin: 20%;
}





/* the buttons for downloading CV, Call or direct email*/
.download {
  background-color: black;
  border-radius: 50%;
  color: white;
  text-decoration: none;
  width:100px;
  height:100px;
  text-transform: uppercase;
  text-align: center;
  position:absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid lightcoral;

}

.mail {
background-color: black; 
color: white;
  text-decoration: none;
  width:100px;
  height:100px;
  border-radius: 50%;
  text-transform: uppercase;
  text-align: center;
  position:absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid lightcoral;

}

.phone {
  background-color: black; 
    
    color: white;
    text-decoration: none;
    width:100px;
    height:100px;
    border-radius: 50%;
    text-transform: uppercase;
    text-align: center;
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border: 3px solid lightcoral;
  
  }
  

.mail:hover {
  color:gray;
}

.download:hover {
color:gray;

}

.phone:hover {

 color:gray;
}

#bm {
	/* Styling the Bernadette McDonnell item in the nav bar, this isnt a button so dont want it to change on hover */
 background-color: black;
 Float:right;
 top:50%;  
 font-family: Copperplate, "Copperplate Gothic Light", fantasy; 
 font-size: 55%;
 font-style: normal; 
 font-variant: normal; 
 font-weight: 700; 
 line-height: 26.4px; 
} 

/* Styling the Homepage*/

 #professionalsummarysection {

  position: relative;
  margin-left: 30%;
  text-transform: uppercase;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
 accent-color:lightcoral;
 justify-items: center;
 color:black;

 }

 #professionalsummarysection:hover {

flex-wrap: wrap-reverse;

 }
 #personalgallery {
  width: 100%;
  font-size: x-large;
  font-family: 'Courier New', Courier, monospace;
  color:black;
  position:relative;

}

.welcomelanding img 
{
 max-width: 100px;
 max-height: 100px;
 border-radius: 50%;
 float:right;
}

.welcomelanding img:hover  {
opacity:0.7;
transform: scale(1.5);

}
/* CSS for the Carousel - this is not my code it is taken from https://css-tricks.com/css-only-carousel/*/
#gallery {

  clear:both;
  line-height: 0;
  column-count:8;
  column-gap:0px;


}

#gallery > img {

width: 100%;

}